{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block titulo %} Entrar {% endblock %}

{% block conteudo %}
    {% if not user.is_authenticated %}
        <div class="content">
            <h1 id="form_h1">Entrar</h1>
            <div class="moldura">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                     <div class="recaptchaContainer2">
                        <div class="g-recaptcha" data-sitekey="6LcWqYAaAAAAAP5O2xsTh96K1zyQ87n8xdd_VBVY"></div>
                        <br/>
                    </div>
                    <button type="submit" class="btn btn-dark">Entrar</button>
                </form>
            </div>
            <div class="border-top pt-3 mt-4">
                <small class="text-muted">
                  Não tem uma conta?<a class="ml-1" href="{% url 'cadastro' %}">Inscreva-se</a>
                </small>
            </div>
        </div>

    {% else %}
        <div class="content">
            <p>Você já está logado como {{user}}, <a href="{% url 'sair' %}"> clique aqui</a> para sair.</p>
        </div>
    {% endif %}


<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}