<!DOCTYPE html>
<html lang="pt">

<head>
    <title>{% block titulo %}Blog do Eric{% endblock %}</title>
    {% include 'parciais/_head.html'%}
</head>

<body>
{% include 'parciais/_nav.html' %}
{% include 'parciais/_jumbotron.html' %}

<!-- Page Content -->
<div id="page-container">
    <div id="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block conteudo %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'parciais/_footer.html' %}
</div>
</body>

</html>
