{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block titulo %} {{post.titulo_post | title}} | Blog do Eric{% endblock %}
{% block conteudo %}


<!-- POST -->
<div class="content pb-3">
    <div class="text-center pt-5">
        <h1 id="titulo-post">{{post.titulo_post}}</h1>
        <p id="excerto-post">{{post.excerto_post}}</p>
        <p class="text-muted mt-4">
            <small>
               Por {{post.autor_post}} | {{post.data_post}} | {{post.categoria_post}}
            </small>
        </p>
    </div>
    <hr id="hr-post">
    <div class="text-justify pt-3">

        {% if post.imagem_post %}
            <img class="img-fluid pb-2" style="width: 800px" src="{{ post.imagem_post.url }}" alt="{{post.titulo_post}}">
        {% endif %}

        <p id="p-post">{{ post.conteudo_post|safe|linebreaks }}</p>

    </div>

    {% if comentarios %}
    <div class="pt-3">
        <h2 class="my-3">Comentários ({{comentarios.count}})</h2>

        {% for comentario in comentarios %}
            <h5 class="mb-2 mt-5">{{comentario.nome_comentario}} disse:</h5>
            <small class="text-muted">{{comentario.data_comentario}}</small>
            <p class="mb-1">{{comentario.comentario}}</p>
        {% endfor %}
    </div>

    {% endif %}


    <div>
        <h2 class="my-5">Deixe um comentário</h2>
        <form method="POST" action="#envia_comentario">
           {% csrf_token %}
            <table class="table">
                {{form|crispy}}
                <tr>
                    <td colspan="2">
                        {% include 'parciais/_messages.html' %}

                        <input id="envia_comentario" type="submit" class="btn btn-dark"
                            value="Enviar">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- POST -->

{% endblock %}